In [122]:
#Import Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re as re
from sklearn.tree import DecisionTreeClassifier
#To ignore warnings
import warnings
warnings.filterwarnings("ignore")

In [123]:
#import data and assign to DataFrames
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')
df_all = [df_train, df_test]

In [135]:
# Get an over view of the data
#print(df_train.dtypes.reset_index()) # df_train Columns Data
df_train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.191919,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,13.498988,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.000000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,36.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [125]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [126]:
df_train.isnull().sum(axis = 0)

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [127]:
# Pclass 
print(df_train[["Pclass","Survived"]].groupby(["Pclass"], as_index = False).mean())

   Pclass  Survived
0       1  0.629630
1       2  0.472826
2       3  0.242363

In [128]:
# Sex
print( df_train[["Sex","Survived"]].groupby(["Sex"], as_index = False).mean() )

      Sex  Survived
0  female  0.742038
1    male  0.188908

In [129]:
# Age 
print( df_train[["Age","Survived"]].groupby(["Age"], as_index = False).mean() )
for data in df_all:
    age_avg  = data['Age'].mean()
    age_std  = data['Age'].std()
    age_null = data['Age'].isnull().sum()

    random_list = np.random.randint(age_avg - age_std, age_avg + age_std , size = age_null)
    data['Age'][np.isnan(data['Age'])] = random_list
    data['Age'] = data['Age'].astype(int)

df_train['Age_Group'] = pd.cut(df_train['Age'], 6)

      Age  Survived
0    0.42  1.000000
1    0.67  1.000000
2    0.75  1.000000
3    0.83  1.000000
4    0.92  1.000000
5    1.00  0.714286
6    2.00  0.300000
7    3.00  0.833333
8    4.00  0.700000
9    5.00  1.000000
10   6.00  0.666667
11   7.00  0.333333
12   8.00  0.500000
13   9.00  0.250000
14  10.00  0.000000
15  11.00  0.250000
16  12.00  1.000000
17  13.00  1.000000
18  14.00  0.500000
19  14.50  0.000000
20  15.00  0.800000
21  16.00  0.352941
22  17.00  0.461538
23  18.00  0.346154
24  19.00  0.360000
25  20.00  0.200000
26  20.50  0.000000
27  21.00  0.208333
28  22.00  0.407407
29  23.00  0.333333
..    ...       ...
58  44.00  0.333333
59  45.00  0.416667
60  45.50  0.000000
61  46.00  0.000000
62  47.00  0.111111
63  48.00  0.666667
64  49.00  0.666667
65  50.00  0.500000
66  51.00  0.285714
67  52.00  0.500000
68  53.00  1.000000
69  54.00  0.375000
70  55.00  0.500000
71  55.50  0.000000
72  56.00  0.500000
73  57.00  0.000000
74  58.00  0.600000
75  59.00  0.000000
76  60.00  0.500000
77  61.00  0.000000
78  62.00  0.500000
79  63.00  1.000000
80  64.00  0.000000
81  65.00  0.000000
82  66.00  0.000000
83  70.00  0.000000
84  70.50  0.000000
85  71.00  0.000000
86  74.00  0.000000
87  80.00  1.000000

[88 rows x 2 columns]

In [130]:
print( df_train[["Age_Group","Survived"]].groupby(["Age_Group"], as_index = False).mean() )

           AgeGroup  Survived
0   (-0.08, 13.333]  0.591549
1  (13.333, 26.667]  0.359281
2    (26.667, 40.0]  0.372727
3    (40.0, 53.333]  0.386792
4  (53.333, 66.667]  0.348837
5    (66.667, 80.0]  0.142857

In [131]:
# SibSp
print( df_train[["SibSp","Survived"]].groupby(["SibSp"], as_index = False).mean() )

   SibSp  Survived
0      0  0.345395
1      1  0.535885
2      2  0.464286
3      3  0.250000
4      4  0.166667
5      5  0.000000
6      8  0.000000

In [132]:
# Parch
print( df_train[["Parch","Survived"]].groupby(["Parch"], as_index = False).mean() )

   Parch  Survived
0      0  0.343658
1      1  0.550847
2      2  0.500000
3      3  0.600000
4      4  0.000000
5      5  0.200000
6      6  0.000000

In [152]:
# Fare
print( df_train[["Fare","Survived"]].groupby(["Fare"], as_index = False).mean() )
for data in df_all:
        data['Fare'] = data['Fare'].fillna(data['Fare'].median())
#df_train['Fare_Group'] = pd.qcut(df_train['Fare'], 12)
for data in df_all:
    data.loc[data['Fare'] <= 10, 'Fare'] = 0
    data.loc[data['Fare'] > 10, 'Fare'] = 1
print( df_train[["Fare","Survived"]].groupby(["Fare"], as_index = False).mean() )

   Fare  Survived
0   0.0  0.199405
1   1.0  0.495495
   Fare  Survived
0   0.0  0.383838

In [145]:
print( df_train[["Fare_Group","Survived"]].groupby(["Fare_Group"], as_index = False).mean() )

          Fare_Group  Survived
0     (-0.001, 7.25]  0.132530
1      (7.25, 7.775]  0.287671
2      (7.775, 7.91]  0.179104
3      (7.91, 8.662]  0.200000
4      (8.662, 11.5]  0.307692
5     (11.5, 14.454]  0.418919
6   (14.454, 20.525]  0.453333
7     (20.525, 26.0]  0.418919
8       (26.0, 31.0]  0.493151
9     (31.0, 52.369]  0.342466
10    (52.369, 80.0]  0.626667
11   (80.0, 512.329]  0.770270